<template name="home">
    <div class="container">
        {{> header}}

        {{#if currentUser}}
          {{> LoggedIn}}
          {{#if spdxdoc}}
            <div class="container spdxDocContainer">
              <h1>Table of Contents</h1>
              <div class="modal-body" id="spdxDocText">
                {{#markdown}}
                {{spdxdoc}}
                {{/markdown}}
              </div>
            </div>
          {{/if}}
        {{else}}
          {{> Login}}
        {{/if}}
    </div>
</template>
